
.Projeto {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.Conteudo { 
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 6% auto;
    gap: 30px;
}

.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.CriarProjeto {
    position: absolute;
    top: 0;
    background-color: rgba(128, 128, 128, 0.363);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.Projetos {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    gap: 40px;
}

.ProjetoCard {
    width: 545px;
    height: 400px;
    background-color: aliceblue;
    
}

.ProjetoCard h1 {
    margin-bottom: 50px;
}

.ProjetoCard p {
    font-size: 1.2em;
}

.Icones {
    font-size: 2em;
}

.Icones i {
    float: right;
}

.Icones i:hover {
    cursor: pointer;    
}

.error {
    color: crimson;
}

.ErrorDiv {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ErrorDiv i {
    font-size: 1.5em;
    cursor: pointer;
}

.Loading {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Loading i{
    font-size: 1.5em;
    cursor: pointer;
}