
.Projeto {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.Conteudo { 
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 6% auto;
    gap: 30px;
}



.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.CriarProjeto {
    position: absolute;
    top: 0;
    background-color: rgba(128, 128, 128, 0.363);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetoSection {
    background-color: aqua;
    width: 40%;
}

.Projetos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90vw;
    gap: 15px;
    height: 100%;
}

.ProjetoCard {
    width: 545px;
    height: 250px;
    border-radius: 20px;
    background-color: aliceblue;
    text-align: start;
    padding-left: 20px;
}

.ProjetoCard h1 {
    margin-bottom: 50px;
    font-size: 1.7em;
}

.ProjetoCard p {
    font-size: 1.2em;
}

.projetoHeader {
    display: flex;
    background-color: aquamarine;
    align-items: center;
}

.projetoHeader input {
    background-color: blueviolet;
}

.projetoHeader h1 {
    background-color: blue;
}

.Icones {
    font-size: 2em;
}

.Icones i {
    float: right;
}

.Icones i:hover {
    cursor: pointer;    
}

.error {
    color: crimson;
}

.ErrorDiv {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ErrorDiv i {
    font-size: 1.5em;
    cursor: pointer;
}

.Loading {
    display: flex;
    gap: 10px;
    align-items: center;
}

.Loading i{
    font-size: 1.5em;
    cursor: pointer;
}