.VerProjeto {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

.Conteudo {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 6% auto;
    gap: 30px;
}

.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ProjetoInfo {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}

.Servicos {
    text-align: left;
}

.ServicosDiv {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.CriarServico {
    position: absolute;
    top: 0;
    background-color: rgba(128, 128, 128, 0.363);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ServicoCard {
    width: 545px;
    height: 400px;
    background-color: aliceblue;
    text-align: center;
}

.ServicoCard h1 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.ServicoCard p {
    font-size: 1.2em;
}

.ServicoCard button {
    margin-top: 6em;
    width: 100px;
}