.search {
    display: flex;
    padding: 20px;
}

.ProjetoCard {
    width: 98%;
    height: 200px;
    border-radius: 20px;
    padding: 20px;
    background-color: #ffffff;
    text-align: start;
    color: #013829;
}

.ProjetoCard h1 {
    font-size: 1.7em;
}

.ProjetoCard p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.Span1 {
    margin-left: 144px;
    box-shadow: 0px;
}

.Span2 {
    margin-left: 80px;
    box-shadow: 0px;
}

.Span3 {
    margin-left: 30px;
    box-shadow: 0px;
}

.projetoHeader {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.Icones {
    display: flex;
    gap: 5px;
    align-items: center;
}

.Icones i {
    font-size: 1.7em;
}

.Icones i:hover {
    cursor: pointer;
}